.main-layout {
  max-height: 100vh;
  height: 100%;
  overflow: hidden;
  display: flex;
  .sidebar-menu {
    width: 180px;
    height: 100%;
    overflow: auto;
  }
  .module-container {
    flex: 1;
    overflow: auto;
  }
}
