form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.form-field {
  display: flex;
  gap: 5px;
  flex-direction: column;
  &#title-field {
    grid-column: span 2;
  }
  &#description-field {
    grid-column: span 2;
  }
}

.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
